

<mat-card  class="main" appearance="outlined">
    

    <mat-card-title>{{_todo[_index].title}} </mat-card-title>    
    <mat-card-subtitle> {{_todo[_index].description}} </mat-card-subtitle>
    <mat-card-subtitle> {{_todo[_index].deadline}} </mat-card-subtitle>
    <mat-card-footer class="buttonAria">
        <button mat-flat-button  [hidden]="_todo[_index].isComplete" (click)="isCompleted()">Done</button>  
        <button mat-flat-button (click)="deleteTodo()"  >Delete</button>
    </mat-card-footer>
    
    <button (click)="openDialog()"
        class="addButton"
        mat-fab>
        <mat-icon >add_circle</mat-icon>
    </button>

</mat-card>
